<!DOCTYPE html>
<html>
<head>
<title>修改密码</title>
<meta charset="utf-8">
<meta name="author" content="yy">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta http-equiv="Content-Type" content="text/html; charset=GBK">
<meta name="author" content="yy">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Pragma" content="no-cache">
<meta name="description" content="" />
<meta name="Keywords" content="" />
<link rel="stylesheet" type="text/css" href="/resource/home/css/swiper.min.css">
<link rel="stylesheet" type="text/css" href="/resource/home/css/public.css">
<link rel="stylesheet" type="text/css" href="/resource/home/font/iconfont.css">
<link rel="stylesheet" type="text/css" href="/resource/home/css/ly.css">
<script type="text/javascript" src="/resource/home/js/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="/resource/home/js/swiper.min.js"></script>
<script type="text/javascript" src="/resource/home/js/public.js"></script>
<style type="text/css">
	body{
		background: #f5f5f5;
	}
</style>
</head>
<body>
<div class="public_head">
	<i class="iconfont icon-mjiantou-copy" onclick="javascript:history.back(-1);"></i>
	修改密码
</div>
<ul class="modifyPwd_ul">
	<li><a href="{:url('Users/loginpassword')}"><span class="iconfont icon-mima"></span><h3>修改登录密码</h3><i class="iconfont icon-arrow-right"></i></a></li>
	<li><a href="{:url('Users/alipaypassword')}"><span class="iconfont icon-jiaoyi"></span><h3>修改支付密码</h3><i class="iconfont icon-arrow-right"></i></a></li>
</ul>
</body>
</html>