
<!DOCTYPE html>
<html>
<head>
<title>代理发货奖</title>
<meta charset="utf-8">
<meta name="author" content="yy">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta http-equiv="Content-Type" content="text/html; charset=GBK">
<meta name="author" content="yy">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Pragma" content="no-cache">
<meta name="description" content="" />
<meta name="Keywords" content="" />
<link rel="stylesheet" type="text/css" href="/resource/home/css/swiper.min.css">
<link rel="stylesheet" type="text/css" href="/resource/home/css/public.css">
<link rel="stylesheet" type="text/css" href="/resource/home/font/iconfont.css">
<link rel="stylesheet" type="text/css" href="/resource/home/css/ly.css">
<script type="text/javascript" src="/resource/home/js/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="/resource/home/js/swiper.min.js"></script>
<script type="text/javascript" src="/resource/home/js/public.js"></script>
<style type="text/css">
	body{
		background: #f5f5f5;
	}
</style>
</head>
<body>
<div class="IPA_1">
	<i class="iconfont icon-mjiantou-copy" onclick="window.location.href='javascript:history.go(-1);'"></i>代理发货奖
</div>
<div class="IPA_2">
	<span>累计金额</span><span class="storeAward_price">￥{$totaldelivery}</span>
</div>
<div class="storeAward_all">
	<div class="storeAward_c" style="display: block;">
		<ul id="storeAward_ul1">

			{foreach $delivery as $v}
			<li><div>{$k+1}</div><img src="{$v['user_pic']}"><div><span>{$v['name']}</span>{$v['created_at']|date="Y-m-d",###}</div><div>￥{$v['money']}</div></li>
			{/foreach}

		<!-- 	<li><div>1</div><img src="images/tx.gif"><div><span>CR小杀</span>2017-09-16</div><div>￥50.00</div></li> -->
	
		</ul>
	</div>
</div>
</body>
</html>