<!DOCTYPE html>
<html>
<head>
<title>我的库存</title>
<meta charset="utf-8">
<meta name="author" content="yy">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta http-equiv="Content-Type" content="text/html; charset=GBK">
<meta name="author" content="yy">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Pragma" content="no-cache">
<meta name="description" content="" />
<meta name="Keywords" content="" />
<link rel="stylesheet" type="text/css" href="/resource/home/css/swiper.min.css">
<link rel="stylesheet" type="text/css" href="/resource/home/css/public.css">
<link rel="stylesheet" type="text/css" href="/resource/home/font/iconfont.css">
<link rel="stylesheet" type="text/css" href="/resource/home/css/ly.css">
<script type="text/javascript" src="/resource/home/js/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="/resource/home/js/swiper.min.js"></script>
<script type="text/javascript" src="/resource/home/js/public.js"></script>
<style type="text/css">

	.shopAccount_head{background: url('/resource/home/images/ly_64.png') no-repeat; background-size: 100% 100%; height: 180px;}

	.shopAccount_2 span{ font-size: 42px; }
</style>
</head>
<body>
<div class="shopAccount_head">
	<div class="shopAccount_1">
		<i class="iconfont icon-mjiantou-copy" onclick="window.location.href='javascript:history.go(-1);'"></i>我的库存
	</div>
	<div class="shopAccount_2"><span>{$count}</span>当前库存（台）</div>
</div>
<ul class="myInventory_ul">
	<li class="myInventory_li">发货明细</li>
	<li>补货明细</li>
</ul>
<div class="myInventory_c">
	<div class="myInventory_1" style="display: block;">

		{foreach $reducemyInventory as $k=>$v}

		<div class="myInventory_2">
			<span class="mit_span">1</span>
			<img src="{$v['user_pic']}">
			<div class="mit_d1">{$v['name']}<span>{$v['mobile']}</span></div>
			<div class="mit_d2">{$v['num']}台<span>{$v['created_at']|date="Y-m-d",###}</span></div>
		</div>
		
		{/foreach}
	
	</div>



	<div class="myInventory_1" style="background: #f5f5f5; width: 100%;display: none;">
	{foreach $increaseInventory as $k=>$v}
		<div class="myInventory_3"><span>时间</span><span>数量</span></div>
		<div class="myInventory_4">		
			<div class="myInventory_5"><span>{$v['created_at']|date="Y-m-d",###}</span><span>{$v['num']}台</span></div>

		</div>
	{/foreach}
	</div>
</div>
<script type="text/javascript">
	$(".myInventory_ul li").click(function() {
		$(this).addClass('myInventory_li').siblings().removeClass('myInventory_li');
		$(".myInventory_1").eq($(this).index()).show().siblings().hide();
	});
</script>
</body>
</html>