<!DOCTYPE html>
<html>
<head>
<title>会员</title>
<meta charset="utf-8">
<meta name="author" content="yy">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta http-equiv="Content-Type" content="text/html; charset=GBK">
<meta name="author" content="yy">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Pragma" content="no-cache">
<meta name="description" content="" />
<meta name="Keywords" content="" />
<link rel="stylesheet" type="text/css" href="/resource/home/css/swiper.min.css">
<link rel="stylesheet" type="text/css" href="/resource/home/css/public.css">
<link rel="stylesheet" type="text/css" href="/resource/home/font/iconfont.css">
<link rel="stylesheet" type="text/css" href="/resource/home/css/ly.css">
<script type="text/javascript" src="/resource/home/js/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="/resource/home/js/swiper.min.js"></script>
<script type="text/javascript" src="/resource/home/js/public.js"></script>
<style type="text/css">
	.shopAccount_head{background: url('/resource/home/images/ly_50.png') no-repeat; background-size: 100% 100%; height: 180px;}

	.shopAccount_2 span{ font-size: 42px; }
</style>
</head>
<body>
<div class="shopAccount_head">
	<div class="shopAccount_1">
		<i class="iconfont icon-mjiantou-copy" onclick="window.location.href='javascript:history.go(-1);'"></i>{if condition="$level eq 1"/} 一
													{elseif condition="$level eq 2"/}二
													{elseif condition="$level eq 3"/}三
													
													{/if}级会员
	</div>
	<div class="shopAccount_2"><span>{$num}</span>{if condition="$level eq 1"/} 一
													{elseif condition="$level eq 2"/}二
													{elseif condition="$level eq 3"/}三
													
													{/if}级会员人数</div>
</div>
<ul class="oT_ul">
	{if condition="count($user) eq 0 "/} 暂无会员												
	{/if}

	{foreach $user as $k=>$v}
	<li><span class="oT_span1">{$k+1}</span><img src="{$v['user_pic']}"><div><span>{$v['nickname']}</span>{$v['created_at']|date="Y-m-d",###}</div> <span class="oT_span2">{$v['phone']}</span></li>
	{/foreach}
</ul>
</body>
</html>