{include file="public/header"}
{include file="public/popBox"}
<section id="main-content">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                    </div>
                    <div class="ibox-content">
                        <form action="{:url('banners/save')}"  method="post" class="form-horizontal" enctype="multipart/form-data" >
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">外链地址:</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="links" value=""><p>外链地址,不外链填＃</p>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">轮播图:</label>
                                <div class="col-sm-6">
                                    <img src="" alt="" id="img">
                                    <img src="http://www.lt55.cn/assets/hadmin/img/addImg.png" width="109px" height="109px" alt="" id="addMain" >
                                    <input type="file"  name="img" id="mainImg"  onchange="setImageShow('mainImg','img')" style="display:none" accept="image/*" >
                                    <div class="hr-line-dashed"></div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">排序:</label>
                                <div class="col-sm-6">
                                    <input type="number" class="form-control" name="sort" value="">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                            <input type="hidden" name="img" id="imageBanner">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-primary" type="submit">保存内容</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- {__CONTENT__} -->


    </section>
    {include file="public/foot"}
    <script>
        $('#addMain').on('click',function(){
            $("input[name='img']").trigger('click');
        });

        function setImageShow(fileId,imgId){  //上传图片显示,input内用onchange
            var docObj = document.getElementById(fileId);
            var fileList = docObj.files;
            var imgObjPreview = document.getElementById(imgId);
            imgObjPreview.style.width="110px";
            imgObjPreview.style.height="110px";
            imgObjPreview.src = window.URL.createObjectURL(fileList[0]);
            $("#imageBanner").val(imgObjPreview.src);
            $('#addMain').css('display','none');
        }
    </script>