{include file="public/header"}
{include file="public/popBox"}
<style>
    .imgBox{
        width:100%;
        height:100vh;
        background: rgba(0,0,0,0.4);
        position: fixed;
        top:0;
        left:0;
        display: none;
        z-index: 200;
    }
    .imgBox img{
        display: block;
        margin: 0 auto;
        margin-top:200px;
    }
    .img1{
        cursor: pointer;
    }
</style>
<div class="imgBox">
    <img id="imgSrc" src="" />
</div>
    <section id="main-content">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>商城首页轮播图列表</h5>
                    </div>

                    <div class="ibox-content">
                        <table class="footable table table-stripped" data-page-size="10" data-filter=#filter>
                            <thead>
                            <tr>
                                <th>轮播图ID</th>
                                <th>轮播图图片</th>
                                <th>外链地址</th>
                                <th>排序</th>
                                <th>创建时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {foreach $banner as $v}
                            <tr class="gradeX">
                                <td>{$v.id}</td>
                                <td><img class="img1" style="width:80px;display: block; " alt="image" src="{$v.img}" /></td>
                                <td>{$v.links}</td>
                                <td>{$v.sort}</td>
                                <td>{$v.created_at}</td>
                                <td>
                                    <a href="{:url('banners/edit')}?id={$v.id}">修改</a>  | <a onclick="delBanner('{$v.id}')">删除</a></td>
                                </td>
                            </tr>
                            {/foreach}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

{include file="public/foot"}

    <!-- 自定义js -->
    <script>
        $(document).ready(function () {
            //新增
            //点击图片放大
            $(".img1").on("click", function () {
                var url_1 = $(this).attr("src");
                $("#imgSrc").attr("src", url_1);
                $(".imgBox").fadeIn(400);
            });
            $(".imgBox").on("click", function () {
                $(".imgBox").fadeOut(400);
            });

        });

        //删除商品
        function delBanner(bannerId) {
            if (confirm('确认删除此图片吗?')) {
                window.location.href = "{:url('banners/delete')}?id="+bannerId;
            }
        }

    </script>