{if condition="$Think.session.status neq null"}
<div class="ibox-content">
    {eq name="Think.session.status" value="success"}
    <div class="alert alert-success alert-dismissable">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        {$Think.session.value}
    </div>
    {/eq}
    {eq name="Think.session.status" value="error"}
    <div class="alert alert-danger alert-dismissable">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        {$Think.session.value}
    </div>
    {/eq}
    {eq name="Think.session.status" value="warning"}
    <div class="alert alert-warning alert-dismissable">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        {$Think.session.value}
    </div>
    {/eq}
</div>
{/if}