<!DOCTYPE html>
<html>
<head>
    <title>后台登录界面</title>
    <meta charset="utf-8">
    <link href="__PUBLIC__/agent/css/home.css?v=2" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="__PUBLIC__/agent/js/jquery-1.7.2.js"></script>
</head>
<style>
    .jyt_sub{
        width:330px;
        border:0;
        background:none;
        margin:0 auto;
        appearance:none;
        -webkit-appearance:none;
        -moz-appearance:none;
        color:#fff;
        border-radius: 5px;
        background:#9ed04d;
        height:50px;
        line-height:50px;
        text-align: center;
        font-size:20px;
        font-family: "微软雅黑";
    }
</style>
<body>

<div class="wrap">
    <div class="banner-show" id="js_ban_content">
        <div class="cell bns-01">
            <div class="con">
            </div>
        </div>
        <div class="cell bns-02" style="display:none;">
            <div class="con">
                <a href="javascript:;" target="_blank" class="banner-link">
                    <i>圈子</i></a> </div>
        </div>
    </div>
    <div class="container">
        <div class="register-box">
            <div class="reg-slogan">
                <h4>《代理商》后台登录界面</h4>
            </div>
            <form action="{:url('index/logon')}" method="post">
                <div class="reg-form" id="js-form-mobile">
                    <br>
                    <br>
                    <div class="cell">
                        <input type="text" name="mobile" id="js-mobile_ipt" placeholder="请输入登录账号" class="text" maxlength="11" />
                    </div>
                    <div class="cell">
                        <input type="password" name="login_pwd" id="js-mobile_pwd_ipt" placeholder="请输入登录密码" class="text" />
                    </div>
                    <div class="cell vcode">
                        <input type="text" name="code" id="js-mobile_vcode_ipt" placeholder="请输入验证码" class="text" maxlength="6" />
                        <img style="border: 1px solid #ccc;cursor:pointer" src="{:captcha_src()}" onclick="refreshVerify()" id="captcha_img"/>
                    </div>
                    <input type="hidden" name="token" value="{$token}">
                    <div class="bottom">
                        <input id="js-mobile_btn" style="cursor:pointer" type="submit" href="javascript:;" value="立即登录" class="jyt_sub"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="footer">
    <div class="con">
        <div class="copy-right">
            <div class="cell">
                <div style="text-align:center;margin:50px 0; font:normal 14px/24px 'MicroSoft YaHei';">
                    <p>越光神镜网站后台--《代理商后台》</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script type="text/javascript">
    function refreshVerify(){
        var ts=Date.parse(new Date())/1000;
        $('#captcha_img').attr('src','/captcha?id='+ts);
    }
</script>
