<!DOCTYPE html>
<html>
<head>
<title></title>
<meta charset="utf-8">
<meta name="author" content="yy">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta http-equiv="Content-Type" content="text/html; charset=GBK">
<meta name="author" content="yy">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Pragma" content="no-cache">
<meta name="description" content="" />
<meta name="Keywords" content="" />
<link rel="stylesheet" type="text/css" href="__CSS__/swiper.min.css">
<link rel="stylesheet" type="text/css" href="__CSS__/public.css">
<link rel="stylesheet" type="text/css" href="__FONTS__/iconfont.css">
<script type="text/javascript" src="__JS__/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="__JS__/swiper.min.js"></script>
<script type="text/javascript" src="__JS__/public.js"></script>
<link rel="stylesheet" href="__CSS__/main.css">
</head>
<body>
	<div class="start_body">
		<img class="start_icon" src="__IMG__/start_jiantou.png" alt="">
		<a class="start_btn" href="{:url('index/content')}">欢迎进入越光神镜</a>
	</div>
</body>
</html>