<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title> - 用户列表</title>
    <meta name="keywords" content="">
    <meta name="description" content="">

    {include file="public/header"}
    <link href="__PUBLIC__/admin/css/plugins/jsTree/style.min.css" rel="stylesheet">

</head>

<body class="gray-bg">
{include file="public/popBox"}
<div class="col-sm-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>用户列表</h5>
            <div class="ibox-tools">
                <!--<a class="collapse-link" href="javascript:;">-->
                <!--<button type="button" class="btn btn-outline btn-success" data-toggle="modal" data-target="#myModal5">-->
                <!--</button>-->
                <!--</a>-->
            </div>
        </div>
        <div class="ibox-content">
            <form action="{:url('users/index')}" method="get">
                <div class="input-group">
                    <span style="float: right;margin-left: 10px;margin-right: 10px">
                                <input placeholder="结束日期" value=""
                                       onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"
                                       class="input-sm form-control layer-date" name="end" id="end">
                            </span>
                    <span style="float: right;margin-left: 10px">
                                <input placeholder="开始日期" value=""
                                       onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"
                                       class="input-sm form-control layer-date" name="start" id="start">
                            </span>
                    <span style="float: right;margin-left: 5px;">级别：
                        <select id="threeLevel" name="level" class="input-sm">
                            <option value="">--请选择--</option>
                            <option value="1">普通会员</option>
                            <option value="2">消费会员</option>
                            <option value="3">县级市代理</option>
                            <option value="4">地级市代理</option>
                            <option value="5">省会城市代理</option>
                            <option value="6">一线城市代理</option>
                            <option value="7">店面</option>
                        </select>
                    </span>
                    <span style="float: right;margin-left: 5px;">推荐人：
                        <input name="from_phone" type="text" class="input-sm" placeholder="请输入推荐人电话"/>
                    </span>
                    <span style="float: right;margin-left: 5px;">用户昵称：
                        <input name="nickname" type="text" class="input-sm" placeholder="请输入用户昵称"/>
                    </span>
                    <span style="float: right;margin-left: 5px;">用户手机号：
                        <input name="mobile" type="text" class="input-sm" placeholder="请输入用户手机号"/>
                    </span>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-sm btn-primary">
                            搜索
                        </button>
                    </span>
                </div>
            </form>
            <table class="footable table table-stripped" data-page-size="10" data-filter=#filter>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>推荐人手机号</th>
                    <th>会员昵称</th>
                    <th>会员手机号</th>
                    <th>会员注册时间</th>
                    <th>会员余额</th>
                    <th>会员级别</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {foreach $data as $v}
                <tr class="gradeX">
                    <td class="did">{$v->id}</td>
                    <td>{$v->pid == "" ? "系统" : $v->pid}</td>
                    <td>{$v->nickname}</td>
                    <td>{$v->mobile}</td>
                    <td>{$v->created_at}</td>
                    <td>{$v->account}</td>
                    <td id="editLevel_{$v->id}">{$v->level}</td>
                    <td>
                        <a href="javascript:void(0)" onclick="editLevel('{$v->id}','{$v->level}')" data-toggle="modal" data-target="#myModal5">修改等级</a> |
                        <a href="javascript:void(0)" data-toggle="modal" data-target="#myModal7" onclick="recharge('{$v->id}')">充值</a>
                        <a href="javascript:void(0)" id="lo_{$v->id}" onclick="lock('{$v->id}')">{$v->status == "1" ? "锁定" : "解锁定"}</a>
                        <a href="javascript:void(0)" id="pw_{$v->id}" onclick="pwdreset('{$v->id}')">密码重置</a>
                        <a href="javascript:void(0)" onclick="childen('{$v->id}')">
                            {$v->downUser($v->id) == "" ? "没有下级" : "查看下级"}</a>

                        {if($v->level == "县级市代理" || $v->level == "地级市代理"|| $v->level == "省会城市代理"|| $v->level == "一线城市代理")}
                        <a href="javascript:void(0)" onclick="rearview('{$v->id}')" data-toggle="modal" data-target="#myModal8" >代理商详情</a>
                        {/if}
                        <!--<a href="#">出货</a>-->
                        <!--<a href="#">库存</a>-->
                    </td>
                </tr>
                <input type="hidden" id="area_{$v->id}" value="{$v->area}">
                {/foreach}

                </tbody>
                <tfoot>
                <tr>
                    <td colspan="3">
                        总共 {$total} 页 当前显示第 {$currentPage} 页
                    </td>
                    <td colspan="13" style="text-align: right">
                        {$render}
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<div class="modal inmodal fade" id="myModal5" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">修改会员等级</h4>
                <small class="font-bold">这里可以显示副标题。</small>
            </div>
            <div class="modal-body">
                <select class="sel123" id="level" name="level" class="input-sm">
                    <option value="1">普通会员</option>
                    <option value="2">消费会员</option>
                    <option value="3">县级市代理</option>
                    <option value="4">地级市代理</option>
                    <option value="5">省会城市代理</option>
                    <option value="6">一线城市代理</option>
                    <option value="7">一级店面</option>
                    <option value="8">二级店面</option>
                </select>
                <div style="width:420px;margin-top: 20px;" class="sanLink">
                    <input type="text" id="city" />
                    <input type="hidden" id="province" />
                    <input type="hidden" id="citys" />
                    <input type="hidden" id="district" />
                </div>
            </div>
            <style type="text/css">
                * { -ms-word-wrap: break-word; word-wrap: break-word; }
                ._citys {background: #fff; width: 450px; display: inline-block; border: 2px solid #eee; padding: 5px; position: relative; }
                ._citys span { color: #56b4f8; height: 15px; width: 15px; line-height: 15px; text-align: center; border-radius: 3px; position: absolute; right: 10px; top: 10px; border: 1px solid #56b4f8; cursor: pointer; }
                ._citys0 { width: 100%; height: 34px; display: inline-block; border-bottom: 2px solid #56b4f8; padding: 0; margin: 0; }
                ._citys0 li { display: inline-block; line-height: 34px; font-size: 15px; color: #888; width: 80px; text-align: center; cursor: pointer; }
                .citySel { background-color: #56b4f8; color: #fff !important; }
                ._citys1 { width: 100%; display: inline-block; padding: 10px 0; }
                ._citys1 a { width: 83px; height: 35px; display: inline-block; background-color: #f5f5f5; color: #666; margin-left: 6px; margin-top: 3px; line-height: 35px; text-align: center; cursor: pointer; font-size: 13px; overflow: hidden; }
                ._citys1 a:hover { color: #fff; background-color: #56b4f8; }
                .AreaS { background-color: #56b4f8 !important; color: #fff !important; }
            </style>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                <button type="button" onclick="submitLevel()" class="btn btn-primary" id="level_ss">保存</button>
            </div>
        </div>
    </div>
</div>
<div class="modal inmodal fade" id="myModal8" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">代理商详情</h4>
                <small class="font-bold">这里可以显示副标题。</small>
            </div>
            <div class="modal-body">
                进货量: <input id="stock" type="text" disabled="disabled">
                出货量: <input id="shipment" type="text" disabled="disabled">
                库存: <input id="repertorys" type="text" disabled="disabled">
                <button type="button" id="replenishment" class="btn btn-primary">补货</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" id="level_bu" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<div class="modal inmodal fade" id="myModal7" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span
                        aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">用户充值</h4>
            </div>
            <form action="{:url('users/recharge')}" method="post">
                <input type="hidden" id="recharge_id" name="recharge_id" value="">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="form-inline">类别：</label>
                        <select name="is_add" class="form-control" id="">
                            <option value="1">增加</option>
                            <option value="0">减少</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="" class="form-inline">金额：</label>
                        <input type="number" class="form-control" min="1" name="num">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-primary">确定</button>
                </div>
            </form>

        </div>
    </div>
</div>
{include file="public/foot"}

<script src="__PUBLIC__/admin/js/plugins/layer/laydate/laydate.js"></script>
<script src="__PUBLIC__/admin/js/jquery.min.js?v=2.1.4"></script>
<script src="__PUBLIC__/admin/js/bootstrap.min.js?v=3.3.6"></script>
<!--<script src="__PUBLIC__/admin/js/jquery.min.js"></script>-->
<script src="__PUBLIC__/admin/js/plugins/jsTree/jstree.min.js"></script>
<script>
    function recharge(id) {
        $("#recharge_id").val(id);
    }
    function lock(id) {
        var flag = 0;
        if($("#lo_"+id).html() == "锁定"){
            flag = 1;
            if(confirm("确定锁定该用户?")){
                sendAjax(id,flag);
            }
        }else{
            flag = 2;
            if(confirm("确定解锁?")) {
                sendAjax(id, flag);
            }
        }
    }
    function sendAjax(id,flag){
        $.ajax({
            url:"{:url('users/lock')}",
            type:"post",
            data:{
                id:id,
                flag:flag
            },
            success:function(res){
                if(res.status == 0){
                    $("#lo_"+id).html(res.msg);
                }
            }
        });
    }
    function pwdreset(id){
        if(confirm("确定重置?")) {
            $.ajax({
                url:"{:url('users/pwdreset')}",
                type:"post",
                data:{
                    id:id
                },success:function(res){
                    if(res.status == 0){
                        alert(res.msg);
                    }
                }
            });
        }
    }
    //用户下级
    function childen(id){
        //加载层
        index2 = layer.load(0, {shade: false}); //0代表加载的风格，支持0-2

        //获取权限信息
        $.ajax({
            url:"{:url('users/suborDinate')}",
            type:"get",
            data:{
                id:id
            }, success:function(res){
                layer.close(index2);
                if(res.message){
                    layer.msg(res.message);
                    return;
                }
                layer.open({
                    type: 1,
                    shade: 0,
                    maxmin: true,//允许最大化
                    resize: true,//允许拉伸
                    offset: [ //随机坐标
                        Math.random()*($(window).height()-500)
                        ,Math.random()*($(window).width()-600)
                    ],
                    zIndex: layer.zIndex, //重点1
                    success: function(layero){
                        layer.setTop(layero); //重点2
                    },
                    tipsMore: true,
                    area:['600px', '500px'],
                    title:'<b style="color:orange;">'+res.user.name+'</b>的下级　　人数：<b style="color:orange;">'+res.num+'</b>人',
                    skin: 'layui-layer-demo', //加上边框
                    content: res.data
                });
            },error:function(){
                console.log("请稍后重试");
            }
        });
    }

    $("#city").click(function (e) {
        SelCity(this,e);
    });
    $(".sel123").on("change",function () {
        var val = $(this).children("option:selected").val();
        console.log(val)
        if(val == 3 || val == 4 || val == 5 || val == 6){
            $("#city").val("");
            $(".sanLink").css("display","block");
        }else{
            $(".sanLink").css("display","none");

        }
    });
var user_id = "";
    function editLevel(id,val){
        $.ajax({
            url:"{:url('users/userOne')}",
            type:"get",
            data:{
                id:id
            },success:function(res){
                if(res.status == 0){
                    console.log(res);
                    $("#level").val(res.data.level);
                    $("#city").val(res.data.area);
                    if(res.data.level == 3 || res.data.level == 4 || res.data.level == 5 || res.data.level == 6){
                        $(".sanLink").css("display","block");
                    }else{
                        $(".sanLink").css("display","none");

                    }
                }else{
                    alert(res.msg);
                }
            }
        });

        user_id = id;
    }
    function submitLevel() {
        $.ajax({
            url:"{:url('users/levelEdit')}",
            type:"post",
            data:{
                level:$("#level").val(),
                area:$("#city").val(),
                province:$("#hcity").attr("data-id"),
                city:$("#hproper").attr("data-id"),
                district:$("#harea").attr("data-id"),
                id:user_id
            },success:function(res){
                if(res.status == 0){
                    history.go(0);
                }else{
                    alert(res.msg);
                }
            }
        });
    }
    function rearview(id) {
        $.ajax({
            url:"{:url('users/rearview')}",
            type:"get",
            data:{
                id:id
            },success:function(res){
                $("#stock").val(res.data.stock);
                $("#shipment").val(res.data.shipment);
                $("#repertorys").val(res.data.repertorys);
                user_id = id;
            }
        });
    }
    $("#replenishment").click(function(){
        if(confirm("确定补货?")){
            $.ajax({
                url:"{:url('users/replenishment')}",
                type:"get",
                data:{
                  id:user_id
                },
                success:function(res){
                    if(res.status == 0){
                        alert("补货成功");
                    }else{
                        alert("无需补货");
                    }
                }
            });
        }
    });
</script>
</body>
</html>