<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title> - 用户列表</title>
    <meta name="keywords" content="">
    <meta name="description" content="">

    {include file="public/header"}
    <link href="__PUBLIC__/admin/css/plugins/jsTree/style.min.css" rel="stylesheet">

</head>

<body class="gray-bg">
{include file="public/popBox"}
<div class="col-sm-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>用户列表</h5>
            <div class="ibox-tools">
                <!--<a class="collapse-link" href="javascript:;">-->
                <!--<button type="button" class="btn btn-outline btn-success" data-toggle="modal" data-target="#myModal5">-->
                <!--</button>-->
                <!--</a>-->
            </div>
        </div>
        <div class="ibox-content">
            <form action="{:url('users/index')}" method="get">
                <div class="input-group">
                    <span style="float: right;margin-left: 10px;margin-right: 10px">
                                <input placeholder="结束日期" value=""
                                       onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"
                                       class="input-sm form-control layer-date" name="end" id="end">
                            </span>
                    <span style="float: right;margin-left: 10px">
                                <input placeholder="开始日期" value=""
                                       onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"
                                       class="input-sm form-control layer-date" name="start" id="start">
                            </span>
                    <span style="float: right;margin-left: 5px;">级别：
                        <select id="threeLevel" name="level" class="input-sm">
                            <option value="">--请选择--</option>
                            <option value="1">普通会员</option>
                            <option value="2">消费会员</option>
                            <option value="3">县级市代理</option>
                            <option value="4">地级市代理</option>
                            <option value="5">省会城市代理</option>
                            <option value="6">一线城市代理</option>
                            <option value="7">店面</option>
                        </select>
                    </span>
                    <span style="float: right;margin-left: 5px;">推荐人：
                        <input name="from_phone" type="text" class="input-sm" placeholder="请输入推荐人电话"/>
                    </span>
                    <span style="float: right;margin-left: 5px;">用户昵称：
                        <input name="nickname" type="text" class="input-sm" placeholder="请输入用户昵称"/>
                    </span>
                    <span style="float: right;margin-left: 5px;">用户手机号：
                        <input name="mobile" type="text" class="input-sm" placeholder="请输入用户手机号"/>
                    </span>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-sm btn-primary">
                            搜索
                        </button>
                    </span>
                </div>
            </form>
            <table class="footable table table-stripped" data-page-size="10" data-filter=#filter>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>推荐人手机号</th>
                    <th>会员昵称</th>
                    <th>会员手机号</th>
                    <th>会员注册时间</th>
                    <th>会员余额</th>
                    <th>会员级别</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {foreach $data as $v}
                <tr class="gradeX">
                    <td class="did">{$v->id}</td>
                    <td>{$v->pid == "" ? "系统" : $v->pid}</td>
                    <td>{$v->nickname}</td>
                    <td>{$v->mobile}</td>
                    <td>{$v->created_at}</td>
                    <td>{$v->account}</td>
                    <td>{$v->level}</td>
                    <td>
                        <a href="javascrpt:void(0)" onclick="editLevel('{$v->id}')" data-toggle="modal" data-target="#myModal6">修改等级</a> |
                        <a href="javascript:void(0)" data-toggle="modal"
                           data-target="#myModal7" onclick="recharge('{$v->id}')">充值</a>
                        <a href="javascript:void(0)" id="lo_{$v->id}" onclick="lock('{$v->id}')">{$v->status == "1" ? "锁定" : "解锁定"}</a>
                        <a href="#">密码重置</a>
                        <a href="#">查看下级</a>
                        <a href="#">进货</a>
                        <a href="#">出货</a>
                        <a href="#">库存</a>
                    </td>
                </tr>
                {/foreach}

                </tbody>
                <tfoot>
                <tr>
                    <td colspan="3">
                        总共 {$total} 页 当前显示第 {$currentPage} 页
                    </td>
                    <td colspan="13" style="text-align: right">
                        {$render}
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<div class="modal inmodal fade" id="myModal6" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">修改会员等级</h4>
            </div>
            <div class="modal-body">
                <select name="level" class="input-sm">
                    <option value="1">普通会员</option>
                    <option value="2">消费会员</option>
                    <option value="3">县级市代理</option>
                    <option value="4">地级市代理</option>
                    <option value="5">省会城市代理</option>
                    <option value="6">一线城市代理</option>
                    <option value="7">店面</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary">保存</button>
            </div>
        </div>
    </div>
</div>
<div class="modal inmodal fade" id="myModal7" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span
                        aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">用户充值</h4>
            </div>
            <form action="{:url('users/recharge')}" method="post">
                <input type="hidden" id="recharge_id" name="recharge_id" value="">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="form-inline">类别：</label>
                        <select name="is_add" class="form-control" id="">
                            <option value="1">增加</option>
                            <option value="0">减少</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="" class="form-inline">金额：</label>
                        <input type="number" class="form-control" min="1" name="num">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-primary">确定</button>
                </div>
            </form>

        </div>
    </div>
</div>

<script src="__PUBLIC__/admin/js/plugins/layer/laydate/laydate.js"></script>


<script src="__PUBLIC__/admin/js/jquery.min.js?v=2.1.4"></script>
<script src="__PUBLIC__/admin/js/bootstrap.min.js?v=3.3.6"></script>
<!--<script src="__PUBLIC__/admin/js/jquery.min.js"></script>-->
<script src="__PUBLIC__/admin/js/plugins/jsTree/jstree.min.js"></script>
<script>
    function editLevel(id) {
//        alert(id);
    }
    function recharge(id) {
        $("#recharge_id").val(id);
    }
    function lock(id) {
        var flag = 0;
        if($("#lo_"+id).html() == "锁定"){
            flag = 1;
            if(confirm("确定锁定该用户?")){
                sendAjax(id,flag);
            }
        }else{
            flag = 2;
            if(confirm("确定解锁?")) {
                sendAjax(id, flag);
            }
        }
    }
    function sendAjax(id,flag){
        $.ajax({
            url:"{:url('users/lock')}",
            type:"post",
            data:{
                id:id,
                flag:flag
            },
            success:function(res){
                if(res.status == 0){
                    $("#lo_"+id).html(res.msg);
                }
            }
        });
    }
</script>
</body>
</html>