<!DOCTYPE html>
<html>
<head>
    <title>越光神镜</title>
    <meta charset="utf-8">
    <meta name="author" content="yy">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="Content-Type" content="text/html; charset=GBK">
    <meta name="author" content="yy">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache">
    <meta name="description" content="" />
    <meta name="Keywords" content="" />
    <link rel="stylesheet" type="text/css" href="__CSS__/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/public.css">
    <link rel="stylesheet" type="text/css" href="__FONTS__/iconfont.css">
    <script type="text/javascript" src="__JS__/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="__JS__/swiper.min.js"></script>
    <script type="text/javascript" src="__JS__/public.js"></script>
    <link rel="stylesheet" href="__CSS__/main.css">
    <style type="text/css">
        body{ background: #fff; }
        .public_head{
            border: none;
        }
        .fenge{
            border: none;
        }
    </style>
</head>
<body>
<div class="public_head">
    <h3>支付成功</h3>
</div>
<div class="content paySuccess_body">
    <div class="fenge"></div>
    <img class="pay_successimg" src="__IMG__/pay_1.png" alt="">
    <p class="p1">支付成功</p>
    <p class="p2">您的订单会尽快进行处理，请耐心等待</p>
    <div class="btn_div">
        <a class="a1" href="{:url('index/content')}">返回首页</a>
        <a class="a2" href="{:url('Usersorder/orderindex',['type'=>2])}">查看订单</a>
    </div>
</div>

<script>
    'use strict';
    /*Shuffling figure*/
    $(function () {

    });
</script>
</body>
</html>